// SPDX-FileCopyrightText: 2018 Icinga GmbH <https://icinga.com>
// SPDX-License-Identifier: GPL-3.0-or-later

.refresh-container-control > i:before {
  margin: 0;
}

a.spinner.active > i,
button.spinner.active > i,
i.spinner.active {
  &:before {
    .animate(spin 2s infinite linear);

    // icon-spin6
    content: '\e874';
  }

  &.fa:before {
    // fa spinner
    content: '\f110';
  }
}

div.spinner {
  display: inline-block;
  vertical-align: middle;

  i {
    visibility: hidden;

    &.active {
      visibility: visible;

      &:before {
        .animate(spin 2s infinite linear);
      }
    }

    &:before {
      margin: 0; // Disables wobbling
    }
  }
}
